@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
 

html,body,#__next{
    height: 100%;
    background: #f8f8f8;
    font-family: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}
@media (min-width: 768px){ 
    #__next {
        margin-left: 13rem;
    }
} 
@media (min-width: 1024px){ 
    #__next {
        margin-left: 20rem;
    }
} 

.page-slider { 
    padding-left: 60px !important; 
    padding-right: 60px !important; 
    margin-left: -60px !important;
    margin-right: -60px !important;
}